<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">

            <br>
            <h3>Edit your Listing</h3>
            <form action="/listings/<%= listing._id %>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" class="form-control"><%= listing.description %></textarea>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input name="listing[image]" value="<%= listing.image %>" placeholder="Enter image url/link" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label for="tag" class="form-label">Tag:</label>
                    <select name="listing[tag]" id="tag" class="form-control">
                        <% tags.forEach(tag => { %>
                            <option value="<%= tag.value %>" <%= tag.value === prevValue ? 'selected' : '' %>>
                            <%= tag.label %>
                            </option>
                        <% }) %>
                    </select>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="language" class="form-label">Language:</label>
                        <select name="listing[language]" id="language" class="form-control">
                            <option value="English" <%= listing.language === 'English' ? 'selected' : '' %>>English</option>
                            <option value="Hindi" <%= listing.language === 'Hindi' ? 'selected' : '' %>>Hindi</option>
                        </select>
                    </div>
    
                    <div class="mb-3 col-md-8">
                        <label for="state" class="form-label">Select a state:</label>
                        <select name="listing[state]" id="state" class="form-control">
                            <option value="Recorded" <%= listing.state === 'Recorded' ? 'selected' : '' %>>Recorded</option>
                            <option value="Live" <%= listing.state === 'Live' ? 'selected' : '' %>>Live</option>
                        </select>
                    </div>
                </div>
                <br>
                <button class="btn btn-dark edit-btn">Edit</button>
            </form>
            <br>
        </div>
    </div>
</body>